{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-py-5">
   <h1>CLOTHING</h1>
    <img src="static{{ MEDIA_URL }}{{ pop.image }}" class="category-image">
</div>

<main>
    <section>
<div class="form-div">
<div class="scrollmenu">
    {% for item in stuff_list %}


        <div class="card" style="width: 18rem;">
            <div class="img-div">
          <img src="static{{ MEDIA_URL }}{{ item.image }}" class="card-img-top" alt="FunkoImage">
                </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.collection }}</h5>
              <a href="{% url 'item_page' item.pk %}"><h3 class="card-title">{{ item.title|truncatechars:20 }}</h3></a>
            <h4 class="card-title">${{ item.price }}</h4>
              {% if user.is_authenticated %}
              <form method="POST">
               {% csrf_token %}
              <button class="btn-primary" type="submit" name="add_to_cart" value="{{ item.id }} ">ADD TO CART</button>
              </form>
              {% else %}
                <form>
              <button type="submit" ><a href="{% url 'login' %}" class="button-link-cart">ADD TO CART</a></button>
                </form>
              {% endif %}
          </div>
        </div>

    {% endfor %}

</div>
</div></section>
</main>
{% endblock %}