{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-py-5">
   <h1 class="username-profile">{{ profile.user.username }}</h1>
   <p></p>
</div>

<div class="form-div">
        <div class="center-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Select Image:<input type="file" name="profile_avatar"></p>

                <p>Bio:<input type="text" name="profile_bio"></p>
                <button type="submit" name="profile_submit" value="{{ profile.id }}">Save</button>
            </form>
            </div>
    </div>


{% endblock %}