{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="user-manage-div">
        <h1>Manage Users</h1>
        <ul>
        {% for profile in page_object %}
            <li><a href="{% url 'view_profile' user.id %}">{{ profile.user.username }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="paginator">
        {% if page_obj.has_previews %}

        <a href="?page=1">Page 1</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>

        {% endif %}

        <span>Page {{ page_obj.number }} with {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}

        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last Page</a>

        {% endif %}

    </div>

{% endblock %}