{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="form-div">
        <div class="center-form">
            <h1>Login</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Username:</p> <p class="field">{{ login_form.username }}</p>
                <p>Password:</p> <p class="field">{{ login_form.password }}</p>
                <div class="form-button">
                <button type="submit">Login</button>
                </div>
            </form>
                <p class="text-center" style="text-align: center">Don't have an account? <a href="/register">Register</a> </p>
            </div>
    </div>
{% endblock %}