{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="form-div">
        <div class="center-form">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            <p>Username:</p> <p class="field">{{ register_form.username }}</p>
            <p>Email:</p> <p class="field">{{ register_form.email }}</p>
            <p>First Name:</p> <p class="field">{{ register_form.first_name }}</p>
            <p>Last Name:</p> <p class="field">{{ register_form.last_name }}</p>
            <p>Password:</p> <p class="field">{{ register_form.password1 }}</p>
            <p>Confirm Password:</p> <p class="field">{{ register_form.password2 }}</p>
            <p>Admin:</p> <p class="field">{{ register_form.is_staff }}</p>
            <div class="form-button">
                <button type="submit">Register</button>
            </div>
        </form>
    <p class="text-center">If you already have an account <a href="/login">Login</a></p>
     </div>
    </div>

{% endblock %}