{% load static %}
{# templates/base.html #}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

    <title>Funko Pop</title>
    <script src="https://kit.fontawesome.com/82949e9182.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<nav class="navbar">

  <div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><i class="fa-solid fa-crown fa-2xl" style="margin-right: 20px;"></i></li>

        <li class="nav-item">
        <a class="nav-title" href="{% url 'index' %}">FunkoPOP</a></i>
      </li>

        <li class="nav-item">
        <div class="dropdown">
        <span class="dropdown-button">Category</span>
        <div class="dropdown-menu">

            <p><a class="dropdown-item" href="{% url 'pop_category_page' %}">Pop!</a></p>
            <p><a class="dropdown-item" href="{% url 'accessories_page' %}">Accessories</a></p>
            <p><a class="dropdown-item" href="{% url 'clothing_page' %}">Clothing</a></p>

        </div>
       </div>
      </li>



        {% if user.is_staff == True %}

       <div class="dropdown">
        <span class="dropdown-button">Management</span>
        <div class="dropdown-menu">

        <p><a class="dropdown-item" href="{% url 'add_new_item' %}">Add Item</a></p>
        <p><a class="dropdown-item" href="{% url 'serialize_data' %}">View Data</a></p>
        <p><a class="dropdown-item" href="{% url 'add_new_category' %}">Add Category</a></p>
        <p><a class="dropdown-item" href="{% url 'add_new_series' %}">Add Series</a></p>
        <p><a class="dropdown-item" href="{% url 'delete_items' %}">Delete Items</a></p>
        <p><a class="dropdown-item" href="{% url 'users_management' %}">Manage Users</a></p>


        </div>
       </div>

        {% endif %}

          <li>
      <form class="search" role="search" name="search" method="GET" action="{% url 'search' %}">
        <p><input class="search-bar" type="search" name="search" placeholder="Search" aria-label="Search"><button class="btn-search" type="submit">&#x1F50E;</button></p>

      </form>
        </li>


        <div class="user-info">
         {% if user.is_authenticated %}
          <ul>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}" style="opacity: 90%">LogOut</a>
        </li>

        <li class="username">
          <a class="nav-link-dis" href="{% url 'view_profile' user.id %}">{{ user.username }}</a>
        </li>
        <li><img class="image-profile" src="/static{{ MEDIA_URL }}{{ profile.avatar }}"></li>

        {% else %}
         <div class="user-info">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">LogIn</a>
        </li>
          </div>
            </ul>
        {% endif %}
    </div>
      </ul>




    </div>
  </div>
</nav>

    {% block content %}
    {% endblock %}

<footer>
    GoITeens 2025
</footer>

</body>
</html>